@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Sora:wght@600;700;800&display=swap");

@layer base {
    html {
        font-size: 90%;
    }
    ::-webkit-scrollbar {
        /* display: none; */
        width: 0px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-gradient-to-r from-HoverColor via-PrimaryColor to-HoverColor rounded-lg;
    }
}
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
}

@layer components {
    img {
        width: 100%;
        height: auto;
    }
    .icon {
        font-size: var(--h2FontSize);
        cursor: pointer;
    }
    .button {
        @apply cursor-pointer flex items-center text-h3FontSize font-semibold bg-inputColor rounded-lg px-2 py-1 border-none shadow-sm;
    }
    .button .icon {
        @apply ml-2;
    }
    .button:hover {
        @apply text-PrimaryColor bg-paleBlue;
    }
    .buttonPrimary {
        @apply bg-PrimaryColor text-white font-bold uppercase text-sm px-3 py-2 rounded-lg shadow-md;
    }
    .buttonPrimary:hover {
        @apply bg-HoverColor  shadow-lg;
    }
    .buttonPrimary:active {
        @apply bg-paleBlue text-PrimaryColor;
    }
    .labelInput {
        @apply text-blackColor font-semibold;
    }
    .input {
        @apply appearance-none border border-textColor rounded-lg w-full py-2 px-3 text-textColor font-medium leading-tight bg-whiteColor;
    }
    .inputFile {
        @apply appearance-none border border-textColor rounded-lg w-full py-2 px-3 text-textColor font-medium leading-tight bg-whiteColor file:cursor-pointer 
        file:items-center file:text-h3FontSize file:font-semibold file:bg-inputColor file:rounded-lg file:border-none file:shadow-sm
        file:hover:text-PrimaryColor file:hover:bg-paleBlue;
    }

    .disabled {
        @apply disabled:bg-whiteColor;
    }
    .input:focus {
        @apply outline-none border-HoverColor shadow-md shadow-paleBlue;
    }
}
